*{
	margin: 0;
	padding: 0;
}

img{
	width: 630px;
}

h2{
	font-family:Arial, sans-serif;
	margin-bottom: 4px; 
}

h4{
	font-size: 0.8em;
	font-family:Arial, sans-serif;
}

h3{
	text-align: center;
	background: #03A9F4;
}

#principal{
	margin: 0px auto;
	width: 950px;
}


#rodape{
	background: #03A9F4;	/* Light 500 (AZUL) */
	margin-bottom: 10px; 
}

#logo{
	text-align: center;
	font-size: 2.5em;
	padding: 5px;
	font-family: Bradley Hand, cursive;
}

.branco{
	color: white;
}

#menu{
	text-align: center;
	padding: 10px;

}

#menu ul{
	list-style: none;
}

#menu li{
	display: inline;
}

#menu a{
	font-family: Impact, fantasy;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#menu a:hover , #menu .selecionado a{
	background: #81D4FA; /*light 200 (Azul) */
}

#conteudo{
	width: 950px;
	margin-bottom: 20px auto;
	font-family:Arial, sans-serif;
}

#publicacoes{
	width: 680px;
	float: left;
}

.post{
	padding: 5px;
	margin-bottom: 15px; 
	background: #ECEFF1; /*Grey 0 (Cinza)*/
}

#conteudo-lateral{
	width: 250px;
	float: right;

}

.post-lateral{
	background: #ECEFF1; /*Grey 0 (Cinza)*/
	margin-bottom: 15px; 
}

#conteudo-lateral a{
	text-decoration: none;
	font-size: 1.3em;
	font-family: Verdana, sans-serif;
	color: black;

}

.post-lateral a:hover{
	background: #81D4FA; /*light 200 (Azul) */
}

.post-lateral ul{
	list-style: none;
}

#cabecalho h3{
	clear: both;
	padding: 10px;
}

